/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after, *::before {box-sizing: inherit;}

:root {
  --primary-color: #b1d097;
  --secondary-color :#3f577b;
  --white: #fff;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

/* Header */
h1 {
  background-color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
  padding: 2rem 1.75rem;
}

/* Main */
main { padding: 1rem 1.5rem;}

p {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 0.50rem 0rem;
}

.format { 
  display: block;
  font-size: 1rem;
  font-weight: 800;
}

.pl-1 {margin-left: 0.50rem;}
.pl-2 {margin-left: 1rem;}
.pl-3 {margin-left: 1.5rem;}
.pl-4 {margin-left: 2rem;}
.pl-5 {margin-left: 2.5rem;}

a {font-size: 0.6rem;}

/* Footer */

.footer {
  background-color: var( --primary-color);
  text-align: center;
  padding: 1.75rem 0.5rem;
}

.footer a {
  background-color: var(--white);
  border-radius: 0.75rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 800;
  padding: 0.50rem 0.75rem;
  text-decoration: none;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}

.footer a:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}